#totaliser {
    width: 240px;
    height: 1000px;
}

#upto10, #upto20, #upto30, #upto40, #upto50, #upto60 ,#upto70, #upto80, #upto90, #fullup  {
    width: 100%;
    height: 10%;
    background: #4da1f7;
}

#undr10 {
    width: 240px;
    height: 240px;
    background: #7fee1d;
    -moz-border-radius: 120px;
    -webkit-border-radius: 120px;
    border-radius: 120px;
}
